<!-- <h1 [class.gray]="h1Style">Home 1</h1>

<h1 [ngClass]="{
  'gray': h1Style,
  'large': !h1Style
}">Home 2</h1>

<h1 [style.color]="h1Style ? 'gray': 'black'">Home 3</h1> -->

<!-- <h1 [ngStyle]="{
  'color': h1Style ? 'gray': 'black',
  'font-size': !h1Style ? '1em': '4em'
}">Home</h1> -->

<div *ngIf="isOpen">
  <label for="">{{test}}</label>
</div>

<button (click)="toggleValue()"> click </button>


<label for="" [ngClass]="{'gray': gray, 'red': !gray}">Testing</label>
<br>
<label for="" [style.color]="gray ? 'gray' : 'red'">Testing</label>
<br>
<label for="" [ngStyle]="{
  'color': gray ? 'gray' : 'red'
}">Testing</label>
<br>
<input type="text" [(ngModel)]="name" />
display name : {{name}}


<h1>Home</h1>

Filter by getter setter:
<input type="text" [(ngModel)]="input_filter1" #focusInput1/>

Filer by onFilterChange event:
<input type="text" [ngModel]="input_filter2" #focusInput2 (ngModelChange)="onFilterChange($event)" />

<ul *ngIf="users">
  <li *ngFor="let user of filteredUser">
    <img [src]="user.avatar">
    <p>{{user.first_name}} {{user.last_name}}</p>
  </li>

</ul>
<button (click)="firstClick()">Click me</button>